<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Project Diagnostic</title>

        <!-- font -->
        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

        <link rel="stylesheet" href="test.css">

    </head>
    <body>
        <body>
        <div class="nav">
            <div class="nav-left">
                <div class="logo">
                    <div class="logo-top"></div>
                    <div class="logo-right"></div>
                    <div class="logo-left"></div>
                </div>
                <div class="cardiCheck" style="margin-left: 20px">CardiCheck</div>
            </div>
            <div class="nav-right">
                <div><a href="#">Home</a></div>
                <div style="margin: 0 20px"><a href="#">Health</a></div>
                <div><a href="#">About Us</a></div>
            </div>
        </div>
        <div class="first-page">
            <div class="dots-first">
                <div class="dot1"></div>
                <div class="dot2"></div>
                <div class="dot3"></div>
                <div class="dot4"></div>
                <div class="dot5"></div>
                <div class="dot6"></div>
                <div class="dot7"></div>
                <div class="dot8"></div>
                <div class="dot9"></div>
                <div class="dot10"></div>
                <div class="dot11"></div>
            </div>
            <div class="background-fist-page"></div>
            <h1 class="welcome-to">Welcome to <span style="color:#EDB0B0">CardiCheck</span></h1>
            <h2 class="monitor-your">Monitor Your Heart, Achieve a Healthy Life</h2>
            <div class="mac">
                <div class="notch"><div class="web-cam"></div></div>
                <div class="lid">
                    <div class="bot-screen"></div>
                    <div class="screen">
                        <div class="logo-on-mac">
                            <div class="logo-top-mac"></div>
                            <div class="logo-mac-bot">
                                <div class="logo-right-mac"></div>
                                <div class="logo-left-mac"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bot-mac">
                <div class="keyboard"></div>
                <div class="stand"><div class="rubber"></div><div class="rubber"></div></div>
                <div class="trackpad"></div>
            </div>
        </div>

    </body>
    </body>
</html>
